body {
	margin-top: 64px;
	margin-left: 0px; 

}
#navshade {display: none; position: fixed; z-index: 100; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(0,0,0,0.5);}
#showmenu { display: inline-block; color: #fff; 
			position: fixed; top:0; left: 0; padding: 12px 25px 11px 35px; font-size:18px; z-index: 100;

}

#navbar { 
	display: none;
	width: 80%;
	max-width: 240px;
	border-right: 1px solid rgba(0,0,0,0.14);
	height: 100%;
	position: fixed;
	left:0;
	top:0;
	z-index: 101; 
	overflow-y:auto;
	background-color: #f5f5f5;
	animation: slide 0.5s forwards;
    animation-delay: 2s;
}
#logo {
	border-bottom: 1px solid rgba(255,255,255,0.2);
	display: block;
	/*height: 60px;*/
	padding: 12px 0 11px 20px;
	font-size: 18px;
	position: relative;
}	
#logo a {
	color:#999999;
	&:hover {color:#999999;}
}

#navbar .nav {
	padding-bottom: 20px;
}
#navbar .nav a {/*color: #337ab7;*/
	/*font-weight: 700;*/
	padding: 7px 20px;
}
#navbar .nav a:hover, #navbar .nav a:focus{/*color: #eee;*/}

#navbar .nav > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

#navbar .nav 	i { width: 25px;}

#navbar .nav 	i.userinfo {
	border-top: 1px solid #999999;
	padding-bottom: 40px;
}


#navshade.show{display: block;}
#navbar.show{display: block;}

#header {
	position: fixed;
/*	height: 60px;*/
	z-index: 99;
	top:0;
	right:0;
	left: 0px;
	padding: 12px 0 11px 70px;
	padding-left: 70px;
	font-size: 18px;
	background-color: #101010;
	color: #fff;
}
#header .breadcrumb {
	padding: 0px 0 0px 35px;
	margin-bottom: 0;
	background-color: transparent;
	padding-left:35px;
	z-index: 100;
}
#header .breadcrumb  a {
	color: #fff;
}
#header .breadcrumb  a :hover {
	color: #fff;
}


.breadcrumb > li + li:before {
	content: "/\00a0";
	padding: 0 5px;
	color: #fff;
}

@media (min-width: 1200px) {
	body {	margin-left: 240px; }
	#header {padding-left: 240px;}
	#navbar { display: block;}
	#navshade {display: none;}
	#navshade.show {display: none;}
	#showmenu { display: none;}
	.breadcrumb {padding-left: 260px;}
}
#wrapper {
	padding: 0px 20px 20px;
}

#footer {
	position: fixed;

	bottom: 10px;
	left:0;
	width:240px;
	text-align: center;
	z-index:102;
}

.glyphicon-menu-hamburger:before {
    content: "\e236";
}